<div data-dojo-attach-point="applicationHeaderParentContainer" class="esriCTMenuTab">
    <div class="esriCTMenuTabLeft displayBlock">
        <div class="esriCTHomeIcon">
            <img data-dojo-attach-point="applicationHeaderIcon" class="esriCTApplicationIcon"
                alt="${nls.appHeaderTitle}" title="${nls.appHeaderTitle}" /></div>
        <div data-dojo-attach-point="applicationHeaderName" class="esriCTGalleryName">
        </div>
    </div>
    <div data-dojo-attach-point="applicationHeaderWidgetsContainer" class="esriCTMenuTabRight">
    </div>
    <div data-dojo-attach-point="divLoadingIndicator" class="divLoadingIndicator displayNoneAll">
        <div class="divfullContainer">
            <div align="center">
                <div>
                    <div class="mainLoader" data-dojo-attach-point="mainLoader">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
