<div class="esriCTSortViews esriCTSepRight">
    <span data-dojo-attach-point="sortByLabel" class="esriCTMenulbl esriCTSortText">
    </span><span class="esriCTSortIcon"></span>
    <div class="esriCTsortby">
        <div data-dojo-attach-point="sortByDiv" class="esriCTsorthead ">
            ${nls.sortByTextMobile}</div>
        <div data-dojo-attach-point="sortMenuMbl" class="esriCTSortMenu">
            <ul>
                <li data-dojo-attach-point="sortByViewMbl" class="sortByViewMbl tickmark">${nls.viewTextMobile}</li>
                <li data-dojo-attach-point="sortByDateMbl" class="sortByDateMbl">${nls.dateTextMobile}</li>
            </ul>
        </div>
    </div>
</div>
