@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)
{
    html, body
    {
        font-size: 14px !important;
    }
}

@media only screen and (min-device-width : 641px) and (max-device-width : 1280px)
{

    html, body
    {
        font-size: 14px !important;
    }

    input
    {
        font-size: 14px !important;
    }

    textarea
    {
        font-size: 14px !important;
    }

    font
    {
        font-family: 'Lato' ,sans-serif !important;
        font-size: 14px !important;
    }

    .esriRightControlPanel
    {
        width: 240px !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px)
{
    html, body
    {
        font-size: 14px !important;
    }

    input
    {
        font-size: 14px !important;
    }

    textarea
    {
        font-size: 14px !important;
    }

    font
    {
        font-family: 'Lato' ,sans-serif !important;
        font-size: 14px !important;
    }

    .esriCTContentdiv
    {
        width: 100% !important;
    }

    .esriCTListAppcontent
    {
        line-height: 16px;
    }

    .esriCTApplicationBox
    {
        margin: 0 5% 0 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    html, body
    {
        font-size: 14px !important;
    }

    input
    {
        font-size: 14px !important;
    }

    textarea
    {
        font-size: 14px !important;
    }

    font
    {
        font-family: 'Lato' ,sans-serif !important;
        font-size: 14px !important;
    }

    .esriCTContentdiv
    {
        width: 100% !important;
    }

    .esriCTSearch
    {
        width: 180px;
    }

    .esriCTSearchIcon
    {
        margin-left: 91%;
    }

    .esriCTListAppcontent
    {
        line-height: 16px;
    }

    .esriCTautosuggest
    {
        width: 180px;
    }

    .esriCTApplicationBox
    {
        margin: 0 4% 0 0;
    }

    .esriCTListContent, .esriCTDetailsListContent
    {
        word-break: break-word;
    }

    .esriCTFullScreen
    {
        display: none;
    }
}

@media screen and (min-width: 641px) and (max-width:767px)
{
    html, body
    {
        font-size: 14px !important;
    }

    input
    {
        font-size: 14px !important;
    }

    textarea
    {
        font-size: 14px !important;
    }

    font
    {
        font-family: 'Lato' ,sans-serif !important;
        font-size: 14px !important;
    }

    .esriCTContentdiv
    {
        width: 100% !important;
    }

    .esriCTSearch
    {
        width: 150px;
    }

    .esriCTSearchIcon
    {
        margin-left: 91%;
    }

    .esriCTListAppcontent
    {
        line-height: 16px;
    }

    .esriCTautosuggest
    {
        width: 150px;
    }

    .esriCTApplicationBox
    {
        padding: 0 12% 0 0;
    }

    .esriCTGalleryName
    {
        display: none;
    }

    .esriCTListContent, .esriCTDetailsListContent
    {
        word-break: break-all;
    }

    .esriCTFullScreen
    {
        display: none;
    }

    .esriRightControlPanel
    {
        width: 240px !important;
    }
}

@media screen and (min-width: 321px) and (max-width: 640px)
{
    html, body
    {
        font-size: 14px !important;
        overflow-x: hidden;
        -webkit-text-size-adjust: none;
    }

    font
    {
        font-family: 'Lato' ,sans-serif !important;
        font-size: 14px;
    }

    input
    {
        font-size: 14px !important;
    }

    textarea
    {
        font-size: 14px !important;
    }

    .esriCTContentdiv
    {
        width: 100% !important;
    }

    .esriCTMenuTabLeft
    {
        width: 100%;
    }

    .esriCTSignIn
    {
        float: left;
        padding: 0 5px;
        position: absolute !important;
        right: 0px;
        top: 0px;
    }

    .esriCTSignInIcon, .esriCTLayout, .esriCTSortViews
    {
        display: none;
    }

    .esriCTMenuTabRight
    {
        width: 100%;
        height: 48px;
    }

    .esriCTMenuTabRightMap
    {
        width: 100%;
        height: 48px;
    }

    .esriCTMenuIcon
    {
        background-position: right center;
        cursor: pointer;
        margin: 5px 0px 0 0;
        font-size: 21px;
        color: white;
    }

    .esriCTInfoIcon
    {
        background-position: right center;
        float: right;
        cursor: pointer;
        margin: 5px 0px 0 0;
        font-size: 28px;
        color: white;
    }

    .esriCTLeftPanel
    {
        width: 100% !important;
        float: none;
    }

    .esriCTPadding
    {
        padding: 15px;
        clear: both;
    }

    .esriCTInnerLeftPanelBottom
    {
        float: left;
        padding: 0;
    }

    .esriCTInnerLeftPanelTop
    {
        float: right;
        padding: 0;
    }

    .esriCTListView
    {
        display: block;
    }

    .esriCTGridView
    {
        display: none;
    }

    .esriCTAppIcon
    {
        display: none;
    }

    .esriCTAppTitle
    {
        display: block;
    }

    .esriCTGalleryNameCategories, .esriCTGalleryNameSample
    {
        display: block;
        padding: 5px 15px;
        font-size: 24px;
        background: #fff;
    }

    .esriCTImageTopPanel
    {
        background: none;
        border: none;
        width: 100%;
    }

    .esriCTRightPanel
    {
        width: 100%;
        margin-left: 0px;
    }

    .esriCTApplicationListBox
    {
        padding-left: 10px !important;
        margin-bottom: 10px;
    }

    .esriCTImageContainerList
    {
        width: 30%;
    }

    .esriCTListContent
    {
        padding-left: 0px;
        margin-left: 32%;
    }

    .esriCTEyewatch
    {
        float: left;
        padding-left: 5px;
    }

    .esriCTListAppcontent
    {
        border: none;
        line-height: 16px;
    }

    .esriCTEyewatch span.eye
    {
        padding-top: 3px;
    }

    .esriCTText
    {
        overflow: hidden;
    }

    .esriCTLogo
    {
        padding: 15px 0 0 15px;
    }

    .esriCTLeftText
    {
        padding: 15px 15px;
    }
    /*input display*/
    .esriCTSettinInfoMenu
    {
        display: block;
        float: left;
        width: 10%;
    }

    .esriCTSettinInfo
    {
        display: block;
        float: left;
        width: 12%;
    }

    .esriCTSearchInput
    {
        float: left;
        width: 78%;
        margin: 0px;
    }
    .esriCTSearchInputInner
    {
        width: 100%;
    }
    .esriCTSearch
    {
        width: 100% !important;
    }

    /*//input display*/

    .esriCTDetailsLeftPanel
    {
        float: left;
        width: 60%;
    }

    .esriCTDetailsRightPanel
    {
        float: left;
        width: 100%;
    }

    .esriCTDetailLeftInfo
    {
        display: none;
    }

    .esriCTInnerLeftPanelTopMap
    {
        display: none;
    }

    .esriCTRightPanelmap
    {
        display: block;
        margin-left: 0;
        margin-top: 98px;
        width: 100%;
    }

    .esriCTlegendLayer
    {
        display: none;
    }
    .esriCTlegendLayerMargin
    {
        margin-top: 98px;
    }

    .esriCTCategoriesHead
    {
        font-size: 14px;
        padding: 10px 0px;
    }

    .esriCTsortby
    {
        display: block;
        width: 100%;
        padding-top: 10px;
        font-size: 14px !important;
    }

    .esriCTsorthead
    {
        padding: 0 0px 15px 15px;
    }

    .esriCTSortMenu ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .esriCTSortMenu ul li
    {
        padding: 5px 15px;
        cursor: pointer;
    }

    .esriCTShiftRight
    {
        left: 90%;
        position: absolute;
        width: 10%;
        overflow: hidden;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        border-left: 1px solid #7453a4;
    }

    .esriCTShiftLeft
    {
        position: absolute;
        right: 90%;
        overflow: hidden;
        border-left: 1px solid #7453a4;
    }

    .esriCTInnerLeftPanelBottomShift
    {
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        width: 90%;
    }
    .esriCTLegendPanelShift
    {
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        width: 100%;
        position: absolute;
        right: 0px;
    }

    .esriCTMapPanelShift
    {
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        width: 0px;
        position: absolute;
        right: 100%;
    }

    .esriCTlegendLayer
    {
        position: absolute;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .esriCTRightPanelmap
    {
        position: absolute;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .esriCTShiftLeftPanel
    {
        position: absolute;
        left: 10%;
        width: 90%;
    }

    .displayNone
    {
        display: none;
    }

    .displayBlock
    {
        display: block;
    }

    .esriCTCategoriesMedia
    {
        float: left;
        padding-left: 15px;
    }

    /*leftpanel adsulte*/
    .esriCTRightPanel
    {
        position: absolute;
        height: 100%;
    }

    .esriCTInnerLeftPanelBottom
    {
        position: absolute;
        z-index: 9;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .esriCTInnerLeftPanelTop
    {
        position: absolute;
        z-index: 8;
        left: -1px;
    }

    .esriCTLeftHead
    {
        padding: 15px 20px;
        margin-bottom: 10px;
    }

    .blueTheme .esriCTListAppcontent
    {
        border: none;
    }

    .esriCTAppImage
    {
        width: auto;
        height: 92px;
    }

    .esriCTAppTitle
    {
        width: 75%;
        display: none;
    }

    .esriCTImageTopPanel
    {
        background: none !important;
        border: none !important;
    }

    .esriCTListAppcontent
    {
        margin-bottom: 5px;
    }

    .esriCTautosuggest
    {
        position: absolute;
        top: 82px;
        width: 77.6% !important;
        background: #fff;
        height: 100px;
        overflow: auto;
        border-left: 1px solid #007ac2;
        border-right: 1px solid #007ac2;
        border-bottom: 1px solid #007ac2;
        z-index: 100;
    }
    .esriCTDetailsRightPanel
    {
        margin-left: 0px;
        background: #fff;
    }
    .esriCTDetailsInnerRightPanel
    {
        padding: 25px;
    }
    .esriCTReviewContainer
    {
        padding: 15px 0px;
    }
    .esriCTDetailsMap
    {
        padding: 25px 25px 0 25px;
    }
    .esriCTDetailsMapImage
    {
        width: 100%;
        height: 100%;
    }
    .esriCTDetailsApplicationType
    {
        margin-top: -21px;
        right: -2px;
    }
    .pagination
    {
        padding-left: 10px;
    }
    .esriCTDownloadButton
    {
        display: none;
    }
    .esriCTInnerRightPanel
    {
        padding-top: 68px;
    }
    .esriCTFullScreen
    {
        display: none;
    }
    .esriCTDivLayerContainer
    {
        display: none;
    }
    .esriCTMenuTab
    {
        z-index: 10002;
    }
    .esriCTBackBtn
    {
        color: #007AC2;
        z-index: 10017;
    }
    .esriMapGeoLocation
    {
        margin-top: 70px;
        position: absolute;
        right: 0;
    }
    .esriCTMenuTabRightMap
    {
        display: block;
    }
    .esriRightControlPanel
    {
        right: 0;
        background: none repeat scroll 0 0 #007AC2;
        border-bottom: 1px solid #007AC2;
        width: 100%;
        height: 48px;
    }
    .esriRightControlPanelMap
    {
        top: 48px;
    }
    .esriRightControlPanelLegend
    {
        top: 0px;
    }
    .esriMapInput
    {
        width: 78%;
        margin: 0px;
    }
    .esriMapGeoInfo
    {
        display: block;
    }
    .esriCTBackToMapBtn, .esriCTBackToMapBtnLegend
    {
        display: block;
    }
}
@media screen and (max-width: 320px)
{
    html, body
    {
        overflow-x: hidden;
        font-size: 14px !important;
        -webkit-text-size-adjust: none;
    }

    font
    {
        font-family: 'Lato' ,sans-serif !important;
        font-size: 14px;
    }

    input
    {
        font-size: 14px !important;
    }

    textarea
    {
        font-size: 14px !important;
    }

    .esriCTContentdiv
    {
        width: 100% !important;
    }

    .esriCTMenuTabLeft
    {
        width: 100%;
    }

    .esriCTSignIn
    {
        float: left;
        padding: 0 0px;
        position: absolute !important;
        right: 0px;
        top: 0px;
    }

    .esriCTSignInIcon, .esriCTLayout, .esriCTSortViews
    {
        display: none;
    }

    .esriCTMenuTabRight
    {
        width: 100%;
        height: 48px;
    }

    .esriCTMenuIcon
    {
        background-position: right center;
        cursor: pointer;
        margin: 5px 0px 0 0;
        font-size: 21px;
        color: white;
    }

    .esriCTInfoIcon
    {
        background-position: right center;
        float: right;
        cursor: pointer;
        margin: 5px 0px 0 0;
        font-size: 28px;
        color: white;
    }

    .esriCTLeftPanel
    {
        width: 100% !important;
        float: none;
    }

    .esriCTPadding
    {
        padding: 15px;
        clear: both;
    }

    .esriCTInnerLeftPanelBottom
    {
        float: left;
        padding: 0;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .esriCTInnerLeftPanelTop
    {
        float: right;
        padding: 0;
    }

    .esriCTListView
    {
        display: block;
    }

    .esriCTGridView
    {
        display: none;
    }

    .esriCTAppIcon
    {
        display: none;
    }

    .esriCTAppTitle
    {
        display: block;
    }

    .esriCTGalleryNameCategories, .esriCTGalleryNameSample
    {
        display: block;
        padding: 5px 15px;
        font-size: 24px;
        background: #fff;
    }

    .esriCTImageTopPanel
    {
        background: none;
        border: none !important;
        width: 100%;
    }

    .esriCTRightPanel
    {
        width: 100%;
        margin-left: 0px;
    }

    .esriCTApplicationListBox
    {
        padding-left: 10px !important;
        margin-bottom: 10px;
    }

    .esriCTListContent
    {
        padding-left: 0px;
        margin-left: 33%;
    }

    .esriCTEyewatch
    {
        float: left;
        padding-left: 5px;
    }

    .esriCTListAppcontent
    {
        border: none;
        line-height: 16px;
    }

    .esriCTEyewatch span.eye
    {
        padding-top: 3px;
    }

    .esriCTText
    {
        overflow: hidden;
    }

    .esriCTLogo
    {
        padding: 15px 0 0 15px;
    }

    .esriCTLeftText
    {
        padding: 15px 15px;
    }
    /*input display*/
    .esriCTSettinInfoMenu
    {
        display: block;
        float: left;
        width: 10%;
    }

    .esriCTSettinInfo
    {
        display: block;
        float: left;
        width: 12%;
    }

    .esriCTSearchInput
    {
        float: left;
        width: 78%;
        overflow: hidden;
        margin: 0px;
    }
    .esriCTSearchInputInner
    {
        width: 100%;
    }

    /*input display*/
    .esriCTDetailsLeftPanel
    {
        float: left;
        width: 100%;
    }

    .esriCTDetailsRightPanel
    {
        float: left;
        width: 100%;
        background: #fff;
    }

    .esriCTDetailLeftInfo
    {
        display: none;
    }

    .esriCTInnerLeftPanelTopMap
    {
        display: none;
    }

    .esriCTRightPanelmap
    {
        display: block;
        margin-left: 0;
        margin-top: 98px;
        width: 100%;
    }

    .esriCTlegendLayer
    {
        display: none;
    }
    .esriCTlegendLayerMargin
    {
        margin-top: 98px;
    }

    .blueTheme .esriCTCategoriesHead
    {
        font-size: 14px;
        padding: 10px 0px;
    }

    .esriCTsortby
    {
        display: block;
        width: 100%;
        padding-top: 10px;
    }

    .esriCTsorthead
    {
        padding: 0 0px 15px 15px;
    }

    .esriCTSortMenu ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .esriCTSortMenu ul li
    {
        padding: 5px 15px;
        cursor: pointer;
    }

    .esriCTShiftRight
    {
        position: absolute;
        left: 86%;
        width: 14%;
        overflow: hidden;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        border-left: 1px solid #7453a4;
    }

    .esriCTShiftLeft
    {
        position: absolute;
        right: 86%;
        overflow: hidden;
    }

    .esriCTInnerLeftPanelBottomShift
    {
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        width: 86%;
    }
    .esriCTLegendPanelShift
    {
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        position: absolute;
        right: 0px;
        width: 100%;
    }

    .esriCTMapPanelShift
    {
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        position: absolute;
        right: 100%;
        width: 0px;
    }

    .esriCTlegendLayer
    {
        position: absolute;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .esriCTRightPanelmap
    {
        position: absolute;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .esriCTShiftLeftPanel
    {
        position: absolute;
        left: 14%;
        width: 86%;
    }

    .displayNone
    {
        display: none;
    }

    .displayBlock
    {
        display: block;
    }

    .esriCTCategoriesMedia
    {
        float: left;
        padding-left: 15px;
    }

    /*leftpanel adsulte*/
    .esriCTRightPanel
    {
        position: absolute;
        height: 100%;
        z-index: 10;
    }

    .esriCTInnerLeftPanelBottom
    {
        position: absolute;
        z-index: 9;
    }

    .esriCTInnerLeftPanelTop
    {
        position: absolute;
        z-index: 8;
        left: -1px;
    }

    .esriCTLeftHead
    {
        padding: 15px 20px;
        margin-bottom: 10px;
    }

    .blueTheme .esriCTListAppcontent
    {
        border: none;
        padding: 0px;
    }

    .esriCTAppImage
    {
        width: auto;
        height: 54px;
    }

    .esriCTAppTitle
    {
        width: 75%;
        display: none;
    }

    .esriCTImageTopPanel
    {
        background: none !important;
        border: none !important;
    }

    .esriCTAppListTitle
    {
        margin: 0px;
    }

    .esriCTImageContainerList
    {
        width: 30%;
    }

    .esriCTautosuggest
    {
        position: absolute;
        top: 84px;
        width: 77% !important;
        background: #fff;
        height: 100px;
        overflow: auto;
        border-left: 1px solid #007ac2;
        border-right: 1px solid #007ac2;
        border-bottom: 1px solid #007ac2;
        z-index: 100;
    }

    .esriCTListAppcontent
    {
        margin-bottom: 5px;
    }

    .esriCTApplicationType
    {
        margin-top: -1px;
        width: 100%;
        padding: 2px 0px;
    }
    .esriCTDetailsInnerRightPanel
    {
        padding: 25px;
    }
    .esriCTComments div
    {
        clear: both;
    }
    .esriCTReviewContainer
    {
        padding: 15px 0px;
    }
    .esriCTDetailsRightPanel
    {
        margin-left: 0px;
        background: #fff;
    }
    .esriCTDetailsMap
    {
        padding: 25px 25px 0 25px;
    }
    .esriCTDetailsMapImage
    {
        width: inherit;
        height: inherit;
    }
    .esriCTDetailsApplicationType
    {
        margin-top: -21px;
        right: -2px;
    }
    .pagination
    {
        padding-left: 10px;
    }
    .esriCTDownloadButton
    {
        display: none;
    }
    .esriCTInnerRightPanel
    {
        padding-top: 68px;
    }
    .esriRightControlPanel
    {
        right: 0;
        background: none repeat scroll 0 0 #007AC2;
        border-bottom: 1px solid #007AC2;
        width: 100%;
        height: 48px;
    }
    .esriRightControlPanelMap
    {
        top: 48px;
    }
    .esriRightControlPanelLegend
    {
        top: 0px;
    }
    .esriCTFullScreen
    {
        display: none;
    }
    .esriCTDivLayerContainer
    {
        display: none;
    }
    .esriCTMenuTab
    {
        z-index: 10002;
    }

    .esriCTBackBtn
    {
        color: #007AC2;
        z-index: 10017;
    }
    .esriMapGeoLocation
    {
        margin-top: 70px;
        position: absolute;
        right: 0;
    }
    .esriCTMenuTabRightMap
    {
        display: block;
    }
    .esriMapGeoInfo
    {
        display: block;
    }
    .esriCTBackToMapBtn, .esriCTBackToMapBtnLegend
    {
        display: block;
    }
}

@media screen and (max-width: 240px)
{
    .esriCTSettinInfoMenu
    {
        display: block;
        float: left;
        width: 10%;
    }

    .esriCTSettinInfo
    {
        display: block;
        float: left;
        width: 12%;
    }

    .esriCTSearchInput
    {
        float: left;
        width: 78%;
        margin: 0px;
    }
    .esriCTSearchInputInner
    {
        width: 100%;
    }

    .esriCTInfoIcon
    {
        font-size: 20px;
    }

    .esriCTMenuIcon
    {
        font-size: 16px;
    }

    .esriCTAppImage
    {
        height: 41px;
    }

    .esriCTautosuggest
    {
        position: absolute;
        top: 84px;
        width: 77% !important;
        background: #fff;
        height: 100px;
        overflow: auto;
        border-left: 1px solid #007ac2;
        border-right: 1px solid #007ac2;
        border-bottom: 1px solid #007ac2;
        z-index: 100;
    }

    .esriCTGalleryName
    {
        font-size: 18px;
    }

    .esriCTDetailsRightPanel
    {
        margin-left: 0px;
        background: #fff;
    }

    .esriCTDetailsInnerRightPanel
    {
        padding: 15px;
    }

    .esriCTComments div
    {
        clear: both;
    }

    .esriCTReviewContainer
    {
        padding: 15px 0px;
    }

    .esriCTDetailsMap
    {
        padding: 15px 15px 0 15px;
    }

    .esriCTDetailsMapImage
    {
        width: inherit;
        height: inherit;
    }

    .esriCTDetailsApplicationType
    {
        margin-top: -21px;
        right: -2px;
    }
    .pagination
    {
        padding-left: 10px;
    }
    .esriCTDownloadButton
    {
        display: none;
    }
    .esriCTInnerRightPanel
    {
        padding-top: 68px;
    }
    .esriRightControlPanel
    {
        right: 0;
        background: none repeat scroll 0 0 #007AC2;
        border-bottom: 1px solid #007AC2;
        width: 100%;
        height: 48px;
    }
    .esriRightControlPanelMap
    {
        top: 48px;
    }
    .esriRightControlPanelLegend
    {
        top: 0px;
    }
    .esriMapGeoInfo
    {
        display: block;
    }
    .esriCTBackToMapBtn, .esriCTBackToMapBtnLegend
    {
        display: block;
    }
}
@media screen and (max-width: 480px)
{
    #dijit_Dialog_0
    {
        width: 196px !important;
    }

    .dijitDialogTitleBar:
    {
        width: 100% !important;
    }

    .dijitDialogPaneContent
    {
        width: 180px !important;
    }

    #widget_dijit_form_ValidationTextBox_0
    {
        width: 99% !important;
    }
    .esriCTDownloadButton
    {
        display: none;
    }
    .esriMapGeoInfo
    {
        display: block;
    }
    .esriCTBackToMapBtn, .esriCTBackToMapBtnLegend
    {
        display: block;
    }
}
